# .env.template - Copy this file to .env and fill in your personal credentials
# DO NOT commit the .env file to version control

# Cloud Provider Credentials
OS_AUTH_URL=https://lab.dsnw.dev:5000
OS_USERNAME=
OS_PASSWORD=
OS_PROJECT_ID=
OS_PROJECT_NAME=

# VPN Configuration
VPN_CONF=

# Terraform Variables
TF_VAR_DOMAIN=test.iths.lab.dsnw.dev.
TF_VAR_SUBNET=
TF_VAR_SERVER_ONE=
TF_VAR_SERVER_TWO=

# Used by both
SSH_KEY_PATH=

# ANSIBLE VARS
DATABASE_NAME=nextcloud
DATABASE_USERNAME=nextcloud
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=
APPLICATION_DOMAIN=