# .env.template - Copy this file to .env and fill in your personal credentials
# DO NOT commit the .env file to version control

# Cloud Provider Credentials
OS_AUTH_URL=https://lab.dsnw.dev:5000
OS_USERNAME=
OS_PASSWORD=
OS_PROJECT_ID=
OS_PROJECT_NAME=

# VPN Configuration & SSH key path
VPN_CONF=
SSH_KEY_PATH=

# ANSIBLE VARS
DATABASE_NAME=nextcloud
DATABASE_USERNAME=nextcloud
DATABASE_PASSWORD=dbpassword
HOST_IP=
APPLICATION_DOMAIN=