# .env.template - Copy this file to .env and fill in your personal credentials
# DO NOT commit the .env file to version control

# Cloud Provider Credentials
CLOUD_AUTH_URL=https://lab.dsnw.dev:5000
CLOUD_PROVIDER_REGION=RegionOne
CLOUD_PROVIDER_PASSWORD=
PROJECT_NAME=
PROJECT_ID=
USER_DOMAIN_NAME=Default
INTERFACE=public
IDENTITY_API_VERSION=3

# VPN Configuration
VPN_CONF=

# Terraform Variables
TF_VAR_DOMAIN=test.iths.lab.dsnw.dev.
TF_VAR_SUBNET=
TF_VAR_SERVER_ONE=
TF_VAR_SERVER_TWO=

# Used by both
SSH_KEY_PATH=
DATABASE_HOST=

# ANSIBLE VARS
DATABASE_NAME=nextcloud
DATABASE_USERNAME=nextcloud
DATABASE_PASSWORD=dbpassword
