<?php
$CONFIG = array (
  "dbtype"        => "pgsql",
  "dbname"        => "{{ db_name }}",
  "dbuser"        => "{{ db_user }}",
  "dbpassword"    => "{{ db_password }}",
  "dbhost"        => "{{ db_host }}",
  "dbtableprefix" => "oc_",
  'trusted_domains' => array (
    '{{ domain }}'
  ),
  'overwrite.cli.url' => '{{ domain }}/nextcloud',
  'overwritehost' => '{{ domain }}',
  'overwriteprotocol' => 'http',
  'datadirectory' => '/var/www/html/nextcloud/data',
  'installed' => true,
  'version' => '26.0.1',
  'loglevel' => 2,
  'maintenance' => false,
  'theme' => '',
  'default_language' => 'en',
  'default_locale' => 'en_US',
);
?>


