<?php
$CONFIG = array (
  "dbtype"        => "pgsql",
  "dbname"        => "{{ db_name }}",
  "dbuser"        => "{{ db_user }}",
  "dbpassword"    => "{{ db_password }}",
  "dbhost"        => "{{ db_host }}",
  "dbtableprefix" => "oc_",
  'trusted_domains' => array (
    'http://iths-seho.iths.lab.dsnw.dev'
  ),
  'overwrite.cli.url' => 'http://iths-seho.iths.lab.dsnw.dev/nextcloud',  // Replace with your actual domain
  'overwritehost' => 'iths-seho.iths.lab.dsnw.dev',  // Replace with your actual domain
  'overwriteprotocol' => 'http',
  'datadirectory' => '/var/www/html/nextcloud/data',  // Ensure this path matches your actual data directory
  'installed' => true,
  'version' => '26.0.1',
  'loglevel' => 2,
  'maintenance' => false,
  'theme' => '',
  'default_language' => 'en',
  'default_locale' => 'en_US',
);
?>


