[defaults]
inventory = inventory.ini

## Set Bastion floating IP & SSH key path

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -q ubuntu@XXX.XXX.XX.XX -i /home/shl/darksnowlab/key/httpserverkey.pem"
